.header-container {
  background-color: $clr-primary-400;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    @include sm {
      padding: 1rem 2rem;
    }
    #logo {
      max-width: 7rem;
    }
    #profile {
      display: none;
      @include sm {
        display: flex;
      }
    }
    .search {
      display: none;

      @include md {
        display: flex;
      }
    }
    .menu-icon {
      display: flex;
      @include md {
        display: none;
      }
    }
  }

  nav {
    display: flex;
    position: relative;
    z-index: 9999999;
    @include md {
      display: grid;
      flex-wrap: wrap;
      gap: 1rem;
    }
    ul {
      position: absolute;
      background-color: $clr-primary-400;
      border-top: 1px solid white;
      padding-block: 1rem;
      display: grid;
      gap: 1rem;
      width: 100%;
      align-items: center;
      justify-content: center;
      top: 0;
      list-style: none;
      padding: 0;
      @include md {
        display: flex;
        gap: 0;
        justify-content: space-around;
      }
      li {
        width: 100%;
        height: 100%;
        @include md {
          width: auto;
          height: auto;
        }

        a {
          text-decoration: none;
          text-align: center;
          font-size: 0.8rem;
          color: $clr-neutral-100;
          &:hover {
            color: $clr-netural-700;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
