$clr-primary-400: hsl(36, 69%, 40%);
$clr-primary-500: hsl(20, 80%, 32%);
$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-400: hsl(36, 64%, 91%);
$clr-netural-700: hsl(66, 17%, 21%);
$clr-neutral-800: hsl(0, 0%, 13%);
$clr-neutral-900: hsl(0, 0%, 16%);

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 800;

$fs-300: 0.75rem; // 12px
$fs-400: 0.875rem; // 14px
$fs-500: 1rem; // 16px
$fs-600: 1.125rem; // 18px
$fs-700: 1.25rem; // 20px
$fs-800: 1.5rem; // 24px

$app-padding-400: 1rem;
$app-padding-500: 3rem;
$app-padding-600: 6rem;
